<!DOCTYPE html>
<html>
  <head>
    <title>pr_index</title>
  </head>
  <body>
    <div class="hd"><h2>Задачи</h2><%= link_to "+", "#", id: "add_form_btn"%></div>
    <div style="height:3em"></div>

    <div class="container">
      <div class="row row-grid">
        <% @Projects.each do |pr| %>
          <div class="col-lg-4 col-md-6">
            <div class="project_card">
              <div class="project_header">
                <h3><%= pr.title %></h3>
              </div>
                <ul>
                  <% pr.todos.each do |todo| %>
                    <li>
                      <label>
                        <%= form_with scope: :todo, url: project_path(todo.id), local: true, id: "chk_form", method: :PATCH do |form| %>
                          <%= check_box_tag 'isCompleted', !todo.isCompleted, todo.isCompleted %> <span><%= todo.text %></span>
                          <%= form.hidden_field "id", :value => todo.id %>
                          <%= form.hidden_field "pr_id", :value => pr.id %>
                        <% end %>
                      </label>
                    </li>
                  <% end %>
                </ul>
              </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="inner">
      <div id="form_block" style="display:none; background-color:white;" class="project_card">
        <div class="project_header">
          <h3>Новая задача</h3>
        </div>
        <%= form_with scope: :todo, url: projects_path, local: true, id: "sub_form" do |form| %>
          <p>
            <%= form.text_field :text, value: "Название задачи... " %>
          </p>
          <div id="select_div">
            <%= form.collection_select :project_id, @Projects.all, :id, :title, {prompt: "Категория"},  {class: "select2-selection"} %>
          </div>
          <p>
            <%= link_to "Отмена", "#", id: "dec_btn"%>
            <%= link_to "Создать", projects_path(), id: "sub_btn" %>
          </p>
        <% end %>
      </div>
    </div>
  </body>
</html>
